.heading h4{
 text-align: center;
 margin-top: 1rem;
 font-size: 2.5rem;
 font-family: "Montserrat", sans-serif;
}
#span{
    color:black;
    margin-left: 1rem;
}
.first{
    overflow:hidden;
}
*{
    font-family: "Montserrat", sans-serif;
  }
  
  
    .text{
        display:auto;
        justify-content: space-evenly;
        font-size: 18px;
        color:#ff6600;
        margin-top:40px;
        width:100%;
      }
   
      .App {
        text-align: center;
      }
      *{
        font-family: 'Montserrat', sans-serif;
        font-weight:bold;
      }
     
      /* .table-custom tr,td{
        border:none !important;
      } */
      .table-custom{
        border:none !important;
        width:100%;
        /* margin-top: 2rem; */
      }
      .table-custom2{
        border:none !important;
        width:100%;
        margin-top: 1rem;
      }
      .table-custom th{
        background-color: rgb(237, 125, 13);
        color:white;
        width:150%;
        padding:0.5rem;
        text-align: left;
      }
      .table-custom2 th{
        background-color: rgb(232, 46, 46);
        color: white;
        padding: 0.5rem;
        width:150%;
        text-align: left;
      }
     .table-custom tbody{
        text-align: left;
      }
     .table-custom tfoot{
        text-align: left;
      }
      .table-custom2 tbody{
        text-align: left;
      }
      .table-custom2 tfoot{
        text-align: left;
      }
      .container{
        margin-top: 2rem;
      }
      th{
        word-spacing: 0.2rem;
        font-size: 1rem;
        }
        
      .icon{
        margin-right: 1px;
      }
      td span{
        margin:1rem;
        gap:1.5rem;
      }
     
      .table-custom tbody td {
        font-size: 1rem; /* Adjust font size as needed */
      }
      .table-custom2 tbody td {
        font-size: 1rem; /* Adjust font size as needed */
      }
   
      /* img{
        height:5%;
        width:6%;
      } */
      .col-4{
        color:green;
      }
    #conductivity{
        color:red;
    }
    .flex-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
      

    @media only screen and (max-width: 767.98px) {
        .table-custom,
        .table-custom2 {
          margin-bottom: 2rem; /* Add margin between tables vertically */
        }
         .container-fluid{
             text-align: left;
             }
             #span{
              margin-left: 6rem;
             }
             .span3{
              margin-left: 2rem !important;
             }
             #dashboard{
              margin-left: 2.5rem !important;
             }
        
             

      }
      