.heading h1{
 text-align: center;
 margin-top: 5rem;
}
#span{
    color:black;
}
.first{
    overflow:hidden;
}

  
  
    .text{
        display:flex;
        justify-content: space-evenly;
        font-size: 20px;
        color:#ff6600;
        margin-top:20px;
      }
      hr{
        border: 2px solid ;
      
        color:rgb(255,112,0);
      
        width:90%;
        margin: auto;
      }
      .App {
        text-align: center;
      }
      *{
        font-family: 'Montserrat', sans-serif;
        font-weight:bold;
      }
     
      .table-custom tr,td{
        border:none !important;
      }
      .table-custom{
        border:none !important;
        width:100%;
      }
      .table-custom2{
        border:none !important;
        width:100%;
      }
      .table-custom th{
        background-color: rgb(237, 125, 13);
        color:white;
        width:150%;
        padding:0.5rem;
      }
      .table-custom2 th{
        background-color: rgb(232, 46, 46);
        color: white;
        padding: 0.5rem;
        width:150%;
      }
      tbody{
        text-align: left;
      }
      tfoot{
        text-align: left;
      }
      .container{
        margin-top: 2rem;
      }
      th{
        word-spacing: 0.2rem;
        
      }
      .icon{
        margin-right: 1px;
      }
      td span{
        margin:1rem;
        gap:1.5rem;
      }
     
      .table-custom tbody td {
        font-size: 0.9rem; /* Adjust font size as needed */
      }
      .table-custom2 tbody td {
        font-size: 0.9rem; /* Adjust font size as needed */
      }
   
      img{
        height:5%;
        width:6%;
      }
      .col-3{
        color:green;
      }
    #conductivity{
        color:red;
    }